<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.crud.dao.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.football.crud.bean.Carousel">
    <id column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
  </resultMap>
  
  <sql id="Base_Column_List">
    img_id, img_name, img_path
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from tbl_img
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_img
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_img
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.football.crud.bean.Carousel">
    insert into tbl_img (img_id, img_name, img_path
      )
    values (#{imgId,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.football.crud.bean.Carousel">
    insert into tbl_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        img_id,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.football.crud.bean.Carousel">
    update tbl_img
    <set>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.football.crud.bean.Carousel">
    update tbl_img
    set img_name = #{imgName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
</mapper>